@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<h1>BAP - Belfast App Productions</h1>

    Welcome to Belfast App Productions - one of Northern Ireland’s leading makers of Mobile Apps.
    Explore this website to read through and see trends in historical app data from the Microsoft Store.