@page "/"
<style>
    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    h2{text-align: center;}
</style>
<img src="https://i.ibb.co/ThRJPL5/b2a77bdb-01f0-4c8d-b4e9-aaef4dbc6554.jpg" alt="BAP Logo" style="width:40%;">

<h2>Welcome to Belfast App Productions - one of the leading makers of Mobile Apps in Northern Ireland. Explore this website to read through and see trends in historical app data from the Microsoft Store.
    </h2>